@model IList<String>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @foreach (var URL in Model)
    {
        <a href='@Url.Action("ShowImg", "Gallery",new {image = URL})'>
            <img src="@Url.Content(URL)" /> </a>
            }
</div>

