@using Labb2.Models
@model IList<Labb2.Models.Album>


@{
    ViewBag.Title = "Gallery";
}
@section featured{

    <div style="margin-left: 88%">
        <h3>Recent Uploads</h3>
        @{
            Html.RenderAction("RecentUpload");
        }
    </div>
}


<h1>Gallery</h1>
<div class="container-fluid">
    <div style="margin-top: 40px">
        @foreach (var album in Model)
        {
            
                @Html.ActionLink(@album.AlbumName, "ViewAlbum", "Album", new { gid = album.AlbumId.ToString() }, new { @class = "navbar-brand" })
            
        }
    </div>

    @*<div style="margin-top: 40px">
        @foreach(var photo in Model.Photo)
        {
            
            <a href='@Url.Action("ShowImage", "Gallery", new {id = photo.PhotoId}, null)'>
                <img src="@Url.Content(photo.PhotoUrl)"alt="Image From Folder" style="max-width: 100%; max-height:300px"/>
            </a>
        }
    </div>*@
    
</div>

