@using Labb2.Models
@model Labb2.Models.Photo


@{
    ViewBag.Title = "ShowImage";
}
<div id="DisplayPhotoId">
    <h2>@Model.PhotoName</h2>
    <img id="@Model.PhotoId" src="@Url.Content(Model.PhotoUrl)" alt="Image from folder" style="max-width: 100%" />
    
        @Html.ActionLink("Delete", "DeletePhoto", "Gallery", new { photoId = Model.PhotoId }, null)
    
</div>

<div id="PostCommentId">
    @{
        Html.RenderAction("PostComment", "Comment", new { photoId = Model.PhotoId });
    }
</div>
<div id="ShowCommentsId">
    @{
        Html.RenderAction("ViewComments", "Comment", new { photoId = Model.PhotoId });

    }
</div>
<script src="~/scripts/postComment.js"></script>
<script src="~/scripts/UpdateComments.js"></script>
