@using Labb2.Models
@model Labb2.Models.Album



@{
    ViewBag.Title = "ViewAlbum";
}

<h2>ViewAlbum</h2>
<div class="container-fluid">
    <div style="margin-bottom: 40px">
       
            @Html.ActionLink("Upload", "UploadToAlbum", "Album",new {albumId = Model.AlbumId}, new { @class = "navbar-brand" })
    
        <div style="margin-top: 40px">
            @foreach (var photo in @Model.Photos)
            {

                <a href='@Url.Action("ShowImage", "Gallery", new {id = photo.PhotoId}, null)'>
                    <img src="@Url.Content(photo.PhotoUrl)" alt="Image From Folder" style="max-width: 100%; max-height: 300px"/>
                </a>
            }
        </div>
    </div>
</div>